body{
	background-color: #eee;
}

header{
	h1{
		font-family: 'Noto Serif JP',serif;
		position: fixed;
		z-index: -1;
		color: rgb(192,192,192);
		font-weight: 900;
		font-size: 24px;
		
		@media screen and (min-width: 0px) and (max-width: 349px){
			margin-top: 0px;
		}
		@media screen and (min-width: 350px), print{
			transform-origin: left bottom; 
			transform: rotate(90deg);
			margin-top: -24px;
		}
	}
}

.contents{
	position: relative;
	top: 40px;

	article{
		position: relative;

		width: 100%;
		margin: 0px auto 64px;
		@media screen and (min-width: 0px) and (max-width: 349px) {
			width: 320px; 
		}
		@media screen and (min-width: 350px) and (max-width: 509px) ,print{
			width: 320px; 
		}
		@media screen and (min-width: 510px) and (max-width: 669px) ,print{
			width: 480px; 
		}
		@media screen and (min-width: 670px) and (max-width: 829px) ,print{
			width: 640px; 
		}
		@media screen and (min-width: 830px) and (max-width: 989px) ,print{
			width: 800px; 
		}
		@media screen and (min-width: 990px) ,print{
			width: 960px;
		}

		>h1{
			font-family: 'Noto Serif JP',serif;
			font-size: 12px;
			color: #444;
			margin: 0px 5px 12px 5px;
		}

		.search{
			display: flex;
			height: 48px;
			.button{
				display: inline-block;
				margin: 0 0 5px 5px;
				padding: 0;

				a{
					display: inline-block;
					max-width: 100px;
					height: 28px;
					line-height: 28px;
					padding: 0 1em;
					background-color: #fff;
					border: 1px solid $yellow;
					border-radius: 8px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #888;
					font-size: 12px;
					text-decoration: none;
					-webkit-transition: .2s;
					transition: .2s;
					&:hover{
						background-color: $yellow;
						border: 1px solid $yellow;
						color: #fff;
					}
				}
			}

			input{
				border:none;
				background:none;
				-webkit-appearance:none;
			}

			#form2{
				display: inline-block;
				margin: 0 0 5px 5px;
				padding: 0;

				position:relative;
				//float: right;
				width:200px;	
			}
			#sbox2{
				height:28px;
				width: 100%;
				padding:0 10px; 
				position:absolute; 
				left:0;
				top:0; 
				border-radius:8px;
				outline:0;
				background:#fff;
				border: 1px solid $yellow;	
			}
			#sbtn2{
				height:28px;
				position:absolute; 
				left: calc(100% - 9px);/*アイコン左右の位置調整*/
				top:6px;
				background:none;
				color:#888;
				border:none;
				font-size:18px;/*アイコンサイズ*/
			}
			#sbtn2:hover{
				color:$yellow;
			}
		}

		.grid {
			position: relative;
			height: 100%;
			.item{
				display: block;
				position: absolute;
				width: 150px;
				margin: 5px;
				z-index: 1;
				&.sizeL{
					width: 310px;
				}
				&.sizeS{
					width: 150px;
				}

				.muuri-item-dragging {
					z-index: 3;
				}
				.muuri-item-dragging {
					z-index: 2;
				}
				.muuri-item-dragging  {
					z-index: 0;
				}
			}
			.item-content {
				position: relative;
				padding-bottom: 20px;
				width: 100%;
				height: 100%;
				border-radius: 8px;
				background: #fff;

				-webkit-transition: .2s;
				transition: .2s;
				&:hover {
					filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.3));
				}

				a{
					text-decoration: none;
				}

				img{
					width: 100%;
					border-radius: 8px 8px 0px 0px;
					&.Attention{
						position: absolute;
						top: -8px;
						left: -8px;
						width: 24px;
						height: 24px;
						border: solid 2px $red;
						border-radius: 14px;
						transition: .2s;
						&:hover{
							transform:rotate(180deg);
						}
					}
				}

				.info{
					width: calc(100% - 40px);
					padding: 10px 20px 15px 20px;

					h1{
						font-size: 20px;
						font-weight: 900;
						color: #444;
						margin-bottom: 12px;
					}
					p{
						font-size: 12px;
						font-weight: 500;
						line-height: 1.4;
						color: #888;
						margin-top: 4px;
					}
				}

				ul {
					margin: 0px 20px 0px 20px;
					padding: 0;
					list-style: none;
					li {
						display: inline-block;
						margin: 0 .2em .2em 0;
						padding: 0;
						a {
							display: inline-block;
							max-width: 100px;
							height: 20px;
							line-height: 20px;
							padding: 0 .5em;
							background-color: #fff;
							border: 1px solid $yellow;
							border-radius: 8px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							color: #888;
							font-size: 12px;
							text-decoration: none;
							-webkit-transition: .2s;
							transition: .2s;
							&:hover {
								background-color: $yellow;
								border: 1px solid $yellow;
								color: #fff;
							}
						}
					}
				}
			}
		}

		.profile{
			position: relative;
			width: calc(100% - 10px);
			margin: 5px;
			z-index: 1;
			border-radius: 8px;
			background: #fff;
			overflow: hidden;

			img{
				width: 100%;
				height: 200px;
				overflow: hidden;
				object-fit: cover;
				&.icon_img{
					position: relative;
					border: solid 4px #fff;
					margin-top: -80px;
					left: 50%;
					-webkit-transform: translateX(-50%);
  					transform: translateX(-50%);
  					width: 160px;
					height: 160px;
					border-radius: 84px;
					filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
					transition: .2s;
					&:hover{
						filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.4));
					}
				}
			}

			h2, h3{
				position: relative;
				font-weight: 900;
				color: #444;
				text-align: center;
			}
			h2{
				font-size: 32px;
				margin: 16px 0px 8px 0px;
				span{
					font-size: 18px;
				}
			}
			h3{
				font-size: 18px;
				margin-bottom: 32px;
				span{
					font-size: 12px;
				}
			}
			iframe{
				position: relative;
				display: block;
				@media screen and (max-width: 669px) ,print{
					width: 100%;
					height: 1100px;
				}
				@media screen and (min-width: 670px) ,print{
					width: 563.26px;//の98%の幅になるので552pxになる
					height: 1000px;
				}
				
				margin: 0px auto;
			}

			.section_wrapper{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				section{
					position: relative;
					width: 260px;
					margin: 16px 16px 48px;

					font-size: 16px;
					font-weight: 500;
					line-height: 1.5em;
					//text-align: justify;
					color: #444;

					h1{
						font-size: 12px;
						font-weight: 900;
						line-height: 1.2em;
						color: #888;
						margin-bottom: 12px;
					}
					h2{
						font-size: 8px;
						font-weight: 500;
						text-align: left;
						color: #444;
						margin-bottom: 8px;
					}
					th{
						font-size: 8px;
						text-align: left;
						width: 80px;
					}
					td{
						font-size: 16px;
					}
					tr{
						height: 1.5em;
					}

				}
			}
		}
	}
}

#article_back{
	z-index: 80;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	transition: .5s;
	&.close{
		background-color: rgba(0,0,0,0);
		display: none;
		//left: 100%;
	}
}

#article{
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 98%;
	width: 80%;
	@media screen and (max-width: 768px){
		width: 90%;
	}
	min-width: 320px;
	max-width: 960px;
	border-radius: 16px;
	background-color: #fff;
	filter: drop-shadow(0px 0px 30px rgba(0,0,0,0.4));
	overflow:hidden;
	
	.iframe_wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.iframe_wrapper {
		-ms-overflow-style: none; /* IE対策 */
		overflow: -moz-scrollbars-none; /* Firefox対策 */
	}
	.iframe_wrapper::-webkit-scrollbar { /* Google Chrome対策 */
		display: none;
	}
	iframe{
		top: 0;
		left: 0;
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
	}

	a{
		position: absolute;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		top: 0px;
		filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.4));
		transition: .2s;
		&:hover{
			transform:rotate(180deg);
		}
		&#close_button{
			left: calc(100% - 32px);
		}
		&#copy_button{
			left: calc(100% - 72px);
		}
	}

	#load{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $yellow;

		p{
			text-align: center;
			position: absolute;
			font-size: 16px;
			top: calc(50vh + 5.5em);
			left: 0px;
			width: 100%;
			a{
				position: relative;
				width: 100%;
				color: #fff;
				filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
				padding: 16px;
				transition: .2s;
				&:hover{
					filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.4));
					transform:rotate(0deg);
				}
			}
		}

		/*
		https://projects.lukehaas.me/css-loaders/
		https://github.com/lukehaas/css-loaders
		から借用
		*/
		.loader,
		.loader:before,
		.loader:after {
			background: #ffffff;
			-webkit-animation: load1 1s infinite ease-in-out;
			animation: load1 1s infinite ease-in-out;
			width: 1em;
			height: 4em;
		}
		.loader {
			color: #ffffff;
			text-indent: -9999em;
			margin: 50vh auto;
			position: relative;
			font-size: 11px;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		.loader:before,
		.loader:after {
			position: absolute;
			top: 0;
			content: '';
		}
		.loader:before {
			left: -1.5em;
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
		.loader:after {
			left: 1.5em;
		}
		@-webkit-keyframes load1 {
			0%,
			80%,
			100% {
				box-shadow: 0 0;
				height: 4em;
			}
			40% {
				box-shadow: 0 -2em;
				height: 5em;
			}
		}
		@keyframes load1 {
			0%,
			80%,
			100% {
				box-shadow: 0 0;
				height: 4em;
			}
			40% {
				box-shadow: 0 -2em;
				height: 5em;
			}
		}
	}
}

.invisible_article{
	display: none;
}

.visible_article{
	display: block;
}

nav{
	position: relative;
	#nav_back{
		z-index: 199;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		transition: .5s;
		&.close{
			background-color: rgba(0,0,0,0);
			display: none;
			//left: 100%;
		}
	}

	#nav_window{
		z-index: 200;
		position: fixed;
		right: 16px;
		bottom: 16px;
		width: 200px;
		height: 200px;
		border-radius: 32px;
		background-color: $yellow;
		filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.4));
		overflow: hidden;
		transition: .3s;
		&:hover{
			filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
		}
		&.close{
			width: 64px;
			height: 64px;
		}

		h1{
			position: absolute;
			right: 0px;
			bottom: 160px;
			width: 136px;
			padding: 0px 32px;
			font-family: 'Noto Serif JP',serif;
			font-size: 12px;
			color: #444;
		}
		ul{
			position: absolute;
			right: 0px;
			bottom: 48px;
			width: 136px;
			padding: 0px 32px;
			li{
				color: #444;
				font-size: 18px;
				font-weight: 900;
				margin-bottom: 24px;
			}
			a{
				text-decoration: none;
				color: #444;
				&:hover{
					color: #fff;
				}
			}
		}
		img{
			position: absolute;
			right: 18px;
			bottom: 31px;
			width: 28px;

		}
	}
}

footer{
	position: relative;
	width: 100%;
	p{
		font-size: 12px;
		text-align: center;
		color: #888;
		margin: 24px auto 12px;
	}
}